<%= simple_form_for @room do |f| %>
  <%= image_tag @room.image.url(:medium) %>
  <%= f.input :image, as: :file %>
  <%= f.input :title, class: "form-control" %>
  <%= f.input :description, class: "form-control" %>
  <br>
  <p class="text-right">
    <%= f.button :submit, class: "btn btn-primary" %>
  </p>
<% end %>
