<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= @room.title %>
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
            <%= image_tag @room.image.url(:medium) %>
          </p>
        </div>
        <div class="panel-footer">
          <%= @room.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">
            チャット一覧
          </h3>
        </div>
        <div class="panel-body">
          <%= @chats.each do |chat| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="media">
                <div class="pull-left">
                  <%= image_tag current_user.avatar.url(:thumb), class: "media-object img-rounded" %>
                </div>
                <div class="media-body">
                  <p>
                    <%= chat.comment %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="text-right">
                <div class="btn-group btn-group-sm">
                  <%= link_to "Edit", edit_room_chat_path(@room, chat), class: "btn btn-warning" %>
                  <%= link_to "Delete", room_chat_path(@room, chat), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
                </div>
              </div>
            </div>


          </div>
          <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-md-6">
  <div class="row">

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ToDo List</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
          </ul>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Room設定</h3>
        </div>
        <div class="panel-body">

          <p class="text-right">
            <%= @room.created_at %>
            <br>
            <%= image_tag current_user.avatar.url(:thumb) %>
          </p>
        </div>
        <div class="panel-footer text-center">
          <div class="btn-group btn-group-xs">
            <%= link_to "Top", root_path, class: "btn btn-default" %>
            <%= link_to "Edit", edit_room_path(@room), class: "btn btn-warning" %>
            <%= link_to "Destroy", room_path(@room), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">チャット</h3>
        </div>
        <div class="panel-body">
          <%= render "chats/form" %>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
  </div>
</div>
