<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-flask" aria-hidden="true"></i>&ensp;<%= @room.title %>
          </h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
            <%= image_tag @room.image.url(:medium) %>
          </p>
        </div>
        <div class="panel-footer">
          <%= @room.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-comments" aria-hidden="true"></i>&ensp;チャット一覧
          </h3>
        </div>
        <div class="panel-body">
          <% @chats.each do |chat| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="media">
                <div class="pull-left">
                  <%= image_tag current_user.avatar.url(:thumb), class: "media-object img-rounded" %>
                </div>
                <div class="media-body">
                  <p>
                    <%= chat.comment %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="text-right">
                <div class="btn-group btn-group-sm">
                  <%= link_to edit_room_chat_path(@room, chat), class: "btn btn-warning" do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to room_chat_path(@room, chat), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="row">

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-tasks" aria-hidden="true"></i>&ensp; Task List</h3>
        </div>
        <div class="panel-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Check</th>
                <th>Tasks</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <%= render @room.tasks %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-cog" aria-hidden="true"></i>&ensp;Room設定</h3>
        </div>
        <div class="panel-body">

          <p class="text-right">
            <%= @room.created_at %>
            <br>
            <%= image_tag current_user.avatar.url(:thumb) %>
          </p>
        </div>
          <div class="btn-group-justified">
            <%= link_to  root_path, class: "btn btn-default" do %>
              <i class="fa fa-home" aria-hidden="true"></i>
            <% end %>
            <%= link_to  edit_room_path(@room), class: "btn btn-warning" do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
            <%= link_to room_path(@room), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </div>
      </div>
    </div>

  </div>
  <div class="row" data-spy="affix" data-offset-top="150" data-offset-bottom="200">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#chat" data-toggle="tab"><i class="fa fa-commenting" aria-hidden="true"></i>&ensp;チャット</a></li>
        <li><a href="#task" data-toggle="tab"><i class="fa fa-tasks" aria-hidden="true"></i>&ensp;Task</a></li>
      </ul>
      <div class="tab-content">
        <div class="panel tab-pane active" id="chat">
          <div class="panel-body">
            <%= render "chats/form" %>
          </div>
          <div class="panel-footer">
            チャット用フォーム
          </div>
        </div>
        <div class="panel tab-pane" id="task">
          <div class="panel-body">
            <%= render "tasks/form" %>
          </div>
          <div class="panel-footer">
            タスク用フォーム
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
