<div class="panel panel-default">
  <div class="panel-heading">
    <%= @room.title %>
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <%= @room.description %>
  </div>
  <div class="panel-footer">
    <div class="btn-group btn-group-sm">
      <%= link_to "Top page", root_path, class: "btn btn-default" %>
      <%= link_to "Edit", edit_room_path(@room), class: "btn btn-primary" %>
      <%= link_to "Destroy", room_path(@room), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
    </div>
    <p class="text-right">
      <%= @room.created_at %>
    </p>
  </div>
</div>
<br>
